  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">{{footer.title}}</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {{#each listInline}}
                        <li><a href="{{url}}"><i class="{{class}}"></i></a>
                        </li>
                        {{/each}}
                        
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        {{#each footer.items}}
                        <li><a href="{{url}}">{{title}}</a>
                        </li>
                        {{/each}}
                        
                    </ul>
                    
                   
                </div>
            </div>
        </div>
    </footer>

    <!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->
              
  <!-- Portfolio Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>{{modal1.title}}</h2>
                               
                                <p class="item-intro text-muted">{{modal1.name}}</p>
                                <img class="img-responsive img-centered" src="{{modal1.image}}" alt="">
                                <p>{{modal1.description}}</p>
                                <p>
                                    
                                    <strong>{{modal1.pObject.title}}</strong>
                                    {{#each modal1.pObject.items}}
                                     {{title}} 
                                    <a href="{{url}}">{{name}}</a>
                                    {{/each}}
                                </p>
                                <ul class="list-inline">
                                     {{#each modal1.items}}
                                    <li>{{this}}</li>
                                    {{/each}}
                                    
                                </ul>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i>{{modal1.btn}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <!-- Portfolio Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                               
                                <h2>{{modal2.title}}</h2>
                                <p class="item-intro text-muted">{{modal2.name}}</p>

                                <img class="img-responsive img-centered" src="{{modal2.image}}" alt="">
                                <p>
                                    <a href="{{modal2.p1.url}}">{{modal2.p1.title}}</a>
                                     {{modal2.p1.description}}
                                     </p>
                                <p>{{modal2.p2.title}} <a href="{{modal2.p2.url}}">{{modal2.p2.name}}</a>.</p>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i>{{modal2.btn}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>{{modal3.title}}</h2>
                                <p class="item-intro text-muted">{{modal3.nanem}}</p>
                                <img class="img-responsive img-centered" src="{{modal3.image}}" alt="">
                                <p>{{modal3.p1.title}}<a href="{{modal3.p1.url}}">{{modal3.p1.name}}</a>{{modal3.p1.description}}</p>
                                <p>{{modal3.p2.title}}<a href="{{modal3.p2.title}}">{{modal3.p2.name}}</a>.</p>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i>{{modal3.btn}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
    <!-- Portfolio Modal 4 -->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>{{modal4.title}}</h2>
                                <p class="item-intro text-muted">{{modal4.name}}</p>
                                <img class="img-responsive img-centered" src="{{modal4.image}}" alt="">
                                <p>{{modal4.p1.title}} <a href="{{modal4.p1.url}}">{{modal4.p1.name}}</a>.{{modal4.p1.description}}</p>
                                <p>{{modal4.p2.title}}<a href="{{modal4.p2.url}}">{{modal4.p2.name}}</a>.</p>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i>{{modal4.btn}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 5 -->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>{{modal5.title}}</h2>
                                <p class="item-intro text-muted">{{modal5.name}}</p>
                                <img class="img-responsive img-centered" src="{{modal5.image}}" alt="">
                                <p>{{modal5.p1.title}}<a href="{{modal5.p1.url}}">{{modal5.p1.name}}</a>{{modal5.p1.description}}</p>
                                <p>{{modal5.p2.title}}<a href="{{modal5.p2.url}}">{{modal5.p2.name}}</a>.</p>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i>{{modal5.btn}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 6 -->
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                
                                <h2>{{modal6.title}}</h2>
                                <p class="item-intro text-muted">{{modal6.name}}</p>
                                <img class="img-responsive img-centered" src="{{modal6.image}}" alt="">
                                <p>{{modal6.p1.title}}<a href="{{modal6.p1.url}}">{{modal6.p1.name}}</a>{{modal6.p1.description}}</p>
                                <p>{{modal6.p2.title}} <a href="{{modal6.p2.url}}">{{modal6.p2.name}}</a>.</p>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i>{{modal6.btn}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/agency.min.js"></script>

</body>

</html>
